@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Josefin+Sans&family=Pirata+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap');

@import url(Gothic-Joker.ttf);


@import url(GothicJoker-gxxGP.ttf);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.container{
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(images/87009-3840x2160-the-joker-background-image-desktop-4k.jpg);
    width: 100%;
    height :1000px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position:left top ;
    background-size: cover;
}

.container h2{
    font-family: 'Pirata One', system-ui;
    color: white;
    font-size: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

.project1{
    margin-top: 40px;
    width: 100%;
    height: 60vh;
    border: 2px solid red;
}

.project1 img{
    height: 460px;
    padding: 10px;
    width: 500px;
    background-image: cover;
    object-fit: cover;
}