@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Josefin+Sans&family=Pirata+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap');

@import url(Gothic-Joker.ttf);


@import url(GothicJoker-gxxGP.ttf);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.container{
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(images/106931041-seamless-geometric-pattern-with-cubes-black-geometric-background-vector-illustration-eps10.jpg);
    filter:grayscale(100%);
    filter: brightness(70%);
    filter:blur(100%);
    background-size: normal;
    background-repeat: repeat;
}

.container h2{
    font-family: 'Pirata One', system-ui;
    color: white;
    font-size: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

.project1{
    margin-top: 40px;
    width: 100%;
    height: 60vh;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(18, 18, 18, 0.871);
    border-radius: 20px;
    box-shadow: 4px 5px rgba(255, 255, 255, 0.267);
}

.project1 img{
    border: 2px solid rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    height: 378px;
    margin: 20px;
    width: 500px;
    background-image: cover;
    object-fit: cover;

    
}

.project1 p,a{
    color: rgb(255, 255, 255);
    /* display: inline-block; */
    width: 900px;
    float: right;
    font-size: 18px;
    padding: 20px;
    padding-top: 30px;
}

.project2{
    margin-top: 40px;
    width: 100%;
    height: 60vh;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(18, 18, 18, 0.871);
    border-radius: 20px;
    box-shadow: 4px 5px rgba(255, 255, 255, 0.267);
}

.project2 img{
    border: 2px solid rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    height: 378px;
    margin: 20px;
    width: 500px;
    background-image: cover;
    object-fit: cover;

    
}

.project2 p,a{
    color: rgb(255, 255, 255);
    /* display: inline-block; */
    width: 900px;
    float: right;
    font-size: 18px;
    padding: 20px;
    padding-top: 50px;
}
